<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Molly Gilgunn</title>
</head>
<body>
<h1>Molly Gilgunn</h1>
    <h2>About Me</h2>
    <p>Hi! My name is Molly Gilgunn. This is a website that helps you learn a <em>little</em> bit more <strong>about me</strong>.</p>
    <h2>My Favorite Things</h2>
    <p>I like <em>alot</em> of things. I have included an unordered list of some of the things that I like.</p>
    <p>My <strong>favorite</strong> things:</p>
    <ul><!--Unordered list of my favorite things-->
        <li>Hanging out with my sister</li>
        <li>Concerts</li>
        <li>Being Outside</li>
        <li>The Sound of Music</li>
        <li>Sports</li>
        <li>Painting</li>
        <li>Reading</li>
    </ul>
    <h2>My Favorite Books</h2>
    <p>I really enjoy reading books. Over the years I have developed my top 3 books. I have included this list below.</p>
    <p>Top 3 Books:</p>
    <ol><!--Ordered 1,2,3 list of my favorite books-->
        <li>Little Women</li>
        <li>Hunger Games</li>
        <li>A Little Life</li>
    </ol>
    <h2>Courses</h2>
    <p>I am currently a student at the University of Maryland pursuing a major in both Accounting and Information Systems. I included a table that details 3 of my favorite courses I have taken at UMD, and the semester in which I completed them.</p>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT311</td>
            <td>Spring 2025</td>
        </tr>
        <tr>
            <td>BUAC714</td>
            <td>Spring 2025</td>
        </tr>
        <tr>
            <td>ECON330</td>
            <td>Money and Banking</td>
        </tr>
    </table>
    <h3>First HTML Page</h3>
    <p>I am currently enrolled in BMGT407, and with that I created my first HTML page, which is something I am very proud of.</p>
<p>A link to my <a href="/hello" >first HTML page </a> </p>
    <h3>Favorite Websites</h3>
<p>A link to <a href="https://www.thepioneerwoman.com/food-cooking/recipes/a62671891/chocolate-chip-cookies-recipe/" target="_blank">my favorite chocolate chip cookie recipe </a></p>
<p>A link to <a href="https://www.abercrombie.com/shop/us" target="_blank">my favorite place to shop </a></p>

    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width= "267" height="72" alt="Smith Logo"> <!--Robert H. Smith Logo Image-->

</body>
</html>
